html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #4d545b;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #4d545b;
}
::-webkit-scrollbar-track {
  background-color: #343a40;
}

#map,
.row.fluid {
  width: 100%;
  margin: 0;
}

.row.fluid {
  height: calc(100% - 56px);
}

nav {
  -webkit-app-region: drag;
}

nav button,
nav a {
  -webkit-app-region: no-drag;
}

#map,
.navbar-nav {
  width: 100%;
}

.bg-dark,
a.white {
  color: rgb(233, 236, 239);
}

a.white:hover {
  color: rgb(220, 223, 226);
}

.justify-content-spc {
  justify-content: space-between;
}

.table td {
  border-color: rgba(100,100,100,0.2);
}

#fltInfo {
  overflow-y: scroll;
  overflow-x: hidden;
}

p.atis {
  margin-bottom: .25rem;
}
