html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#map,
.row.fluid {
  width: 100%;
  margin: 0;
}

.row.fluid {
  height: calc(100% - 56px);
}

nav {
  -webkit-app-region: drag;
}

nav button,
nav a {
  -webkit-app-region: no-drag;
}

#map,
.navbar-nav {
  width: 100%;
}
